html {
    background-color: aliceblue;
}

body {
    background-color: aliceblue;
}

header h1 {
    font: italic;
}

#navbar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Charts CSS */

#mainbox {
    
    position: relative;
    height: 100%;
    width: 100%;
}

#portcol {
    background: rgba(0,0,0,0.1);
    min-height: 500px;
    border: 1px solid black;
    border-radius: 8px; 
}
#spycol {
    background: rgba(0,0,0,0.1);
    min-height: 500px;
    border: 1px solid black;
    border-radius: 8px; 
}

#spycontainer {
    border: 1px solid black;
}

/* Text Box CSS */

#textcol {
    border: 1px solid black; 
    background: rgba(0,0,0,0.1);
    border-radius: 8px;

  }

#textbox {
    text-align: justify;
    word-wrap: break-word;
    min-height: 100%;
    width: 100%;
    position: relative;
}

#textwriteup {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 20px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#textwriteup::-webkit-scrollbar {
    width: 9px;
    padding: 2px;
}

/* Track */
#textwriteup::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
}

/* Handle */
#textwriteup::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#textwriteup::-webkit-scrollbar-thumb:hover {
    background: #555;
}

